<section id="desenvolvimento">
<div class="container">
  <h3>Publications</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>
			<span class="label label-success">2016 - atual</span>&nbsp;&nbsp;
			<strong>Processos Comunicacionais e Transformações da Intimidade em Comunidades Fan Fiction: um estudo no site Nyah! Fanfiction</strong>. Dissertação de Mestrado (em produção). Orientador: Profa. Dra. Maria Ogécia Drigo - Universidade de Sorocaba.
		</h4>
    </div>
  </div>
</div>
</section>