<section class="thirteen columns">
    <h1>Educação</h1>
    <article>
        <header>
            <h1>Mestrado em Comunicação e Cultura</h1>
            <span>Universidade de Sorocaba</span>
            <span><address>Sorocaba, SP</address><time>2016 - atualmente</time></span>
        </header>
        <p>
            <em>Dissertação: Processos Comunicacionais e Transformações da Intimidade em Comunidades Fan Fiction: um estudo no site Nyah! Fanfiction</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Bacharelado em Comunicação Social com ênfase em Jornalismo</h1>
            <span>Universidade de Sorocaba</span>
            <span><address>Sorocaba, SP</address><time>2010 - 2013</time></span>
        </header>
        <p>
            <em>Produto: Livro "Anônimos: a sociedade virtual da pedofilia"</em>
        </p>
        <p>
            <em>Monografia: A pedofilia segundo abordagem da Folha de S. Paulo</em>
        </p>
    </article>
</section>