<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Auxiliar de Escritório</h1>
            <span>Esc. Contab. Scutieri &amp; Scutieri - <address>Salto, SP</address><time>2014 - atualmente</time></span>
        </header>
        <p>Atendimento de clientes, produção de releases para imprensa e de textos publicitários.</p>
    </article>
    <article>
        <header>
            <h1>Clipping e Assessoria de Imprensa</h1>
            <span>ComTexto Assessoria de Imprensa - <address>Sorocaba, SP</address><time>2013 - 2014</time></span>
        </header>
        <p>Monitoramento de presença dos clientes em jornais impressos e online. Produção do Clipping e de relatórios para Assessoria de Imprensa.</p>
    </article>
    <article>
        <header>
            <h1>Assessoria de Imprensa</h1>
            <span>Grupo Verum - <address>Sorocaba, SP</address><time>2012 - 2013</time></span>
        </header>
        <p>Cobertura de eventos e produção de releases. Construção e administração de perfis nas mídias sociais e sites.</p>
    </article>
</section>