<section id="palestra">
<div class="container">
  <h3>Palestra Segurança na Internet para Jovens e Educadores</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h3>
			A internet está mais próxima do que nunca
		</h3>
		<h5>
			Vivemos em uma época onde real e virtual se mesclam cada vez mais. Estamos o tempo todo acompanhados de nossos dispositivos eletrônicos que espalham informações para a rede ativa e passivamente. Somos cada vez mais expostos nas mídias sociais e perdemos o controle sobre os materiais que colocamos na Internet.
		</h5>
		<p>
			Esta palestra fornece informações claras e precisas sobre técnicas básicas de segurança na rede, convivência na internet e controle de nossos dispositivos, perfis, sites e fotos. Desenvolvida em duas versões independentes, pode ser adquirida em conjunto por escolas e instituições que queiram oferecer este conteúdo a alunos, educadores e pais.
		</p>
		<h2>
			Contrate pelo telefone (11) 97074-5422 ou pelo e-mail andre@andresantos.jor.br
		</h2>
		<h3>
			Versão para Jovens
		</h3>
		<p>
			Temas abordados: segurança no uso de dispositivos, mídias sociais, sites e jogos. Controle de informações e imagens. Relacionamento e sexualidade em tempos de Internet. 
		</p>
		<p>
			Linguagem acessível e dinâmica, usando exemplos e informações tiradas da realidade dos jovens.
		</p>
		<p>
			Salas de no máximo <strong>40 alunos</strong>.
		</p>

		<h3>
			Versão para Educadores
		</h3>
		<p>
			Temas abordados: segurança no uso de dispositivos, mídias sociais, sites e jogos. Controle de informações e imagens pessoais. Controle e vigilância do uso da Internet por alunos/filhos. Uso racional da rede. Relacionamento e sexualidade na Web. O papel dos dispositivos eletrônicos dentro e fora da sala de aula. Reflexões sobre a vida virtual.
		</p>
		<p>
			Informações precisas e completas, preparadas para todos os níveis de habilidade com a rede e os dispositivos eletrônicos. 
		</p>
		<p>
			Salas de no máximo <strong>25 educadores</strong>.
		</p>
    </div>
  </div>
</div>
</section>