<section id="publicacoes">
<div class="container">
  <h3>Publications</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h4>
			<span class="label label-success">2013</span>&nbsp;&nbsp;
			MARCHETTI, I. S. ; ROCHA, T. ; ROSA-CASTRO, R. M. ; SILVA, M. S. N. ; SANTOS, L. V. ; SCHLIEMANN, A. L. ; RAMOS, C. M. O. ; HERGESEL, J. P. L. M. ; PRADO, A. C. ; LOZANO, I. P. ; PASSINI, M. F. T. ; ASSIS, M. L. C. ; CAMARGO, M. J. P. ; MOREIRA, S. A. O. ; <strong>SANTOS, André Luis dos </strong>; FERRAZ, D. ; OLIVEIRA, F. C. R. ; MONTE, F. A. ; COSSERMELLI, N. G. ; SANTOS, H. O. . Construção do Conhecimento em Rede: A inteligência coletiva na comunidade Linux do Brasil. In: Norberto Aranha; Vilma Franzoni. (Org.). <em>Educação e ciência para uma vida melhor: pesquisar para transformar.</em> 1ed.Sorocaba: EDUNISO, 2014, v. , p. 9-149.
		</h4>
    </div>
  </div>
</div>
</section>